:root {
  --black: #111;
  --orange: #fd9222;
  --violet: #1e1823;
  --beige: #fcf1e0;
  --light: #fafafa;
  --gray: #4c4c4c;
  --white: #fff;
  --marker-body: #4c4c4c;
  --marker-border: #eceded;
}

body {
  font-family: 'Montserrat', serif;
  background-color: #fafafa;
  color: #111111;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

button {
  font-family: inherit;
  cursor: pointer;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  display: block;
  height: auto;
  max-width: 100%;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
/* Mobile first - phone screens */
.container {
  min-width: 320px;
  max-width: 375px;
  padding: 0 20px;
  margin: 0 auto;
}
/* Tablet screens */
@media screen and (min-width: 768px) {
  .container {
    max-width: 736px;
    padding: 0 16px;
  }
}
/* Desktop screens */
@media screen and (min-width: 1200px) {
  .container {
    max-width: 1200px;
  }
}

a {
  text-decoration: none;
}

ul,
ol {
  margin: 0;
  padding-left: 0px;
  list-style-type: none;
}

button {
  cursor: pointer;
}

.text-orange {
  color: var(--orange);
}

/* #region Header */
.logo {
  display: inline-flex;
  align-items: center;
  padding: 20px 0;

  font-size: 14px;
  font-weight: 700;
  line-height: 1.28;
  letter-spacing: -0.42px;
  letter-spacing: -0.03em;
}
@media screen and (min-width: 1168px) {
  .logo {
    font-size: 18px;
    line-height: 1.11;
  }
}
.menu-btn {
  background-color: transparent;
  border: none;
}
@media screen and (min-width: 768px) {
  .menu-btn {
    display: none;
  }
}
.logo-accent {
  font-style: italic;
}
.logo-img {
  margin-left: 4px;
}

.socials {
  display: flex;
  gap: 14px;
}
.socials-item {
  width: 40px;
  height: 40px;
}
.socials-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;

  border-radius: 10px;
  border: 1px solid rgba(17, 17, 17, 0.1);

  transition: 300ms ease-in;
  transition-property: border-color;
}
.socials-link:hover,
.socials-link:focus {
  border-color: rgba(253, 146, 34, 0.1);
}
.socials-icon {
  fill: #111111;
  transition: 300ms ease-in;
  transition-property: fill;
}
.socials-link:hover .socials-icon,
.socials-link:focus .socials-icon {
  fill: #fd9222;
}

.btn {
  min-width: 120px;
  min-height: 40px;
  padding: 12px 28px;

  font-size: 14px;
  font-weight: 600;
  border: 1px solid transparent;
  border-radius: 100px;

  transition: 300ms ease-in;
  transition-property: color, background-color, border-color;
}
@media screen and (min-width: 768px) {
  .btn {
    padding: 14px 40px;
  }
}
.btn-accent {
  color: #fff;
  background: #fd9222;
}
.btn-accent:hover,
.btn-accent:focus {
  color: #fd9222;
  background: #fcf1e0;
}
.btn-light {
  color: #fff;
  background: transparent;
  border-color: white;
}
.btn-light:hover,
.btn-light:focus {
  color: #fd9222;
  border-color: #fd9222;
}
.btn-dark {
  font-size: 18px;
  color: currentColor;
  border-color: #fd9222;
  background: transparent;
}
.btn-dark:hover,
.btn-dark:focus {
  color: #ffffff;
  background: #fd9222;
}
.scroll-to-top {
  position: fixed;
  right: 30px;
  bottom: 30px;
  color: #fd9222;
}
.scroll-to-top svg {
  fill: currentColor;
}
/* #endregion */

/* #region Header */
.header {
  background-color: #fff;
}
.header .container {
  display: flex;
  align-items: center;
  gap: 28px;
}
@media screen and (min-width: 1168px) {
  .header .container {
    gap: 90px;
  }
}
.header-nav {
  display: flex;
  justify-content: space-between;
  flex-grow: 1;
}
.header-logo {
}
.header-nav-list {
  display: none;
}
@media screen and (min-width: 768px) {
  .header-nav-list {
    display: flex;
    align-items: center;
    gap: 20px;
  }
}
@media screen and (min-width: 768px) {
  .header-nav-list {
    gap: 24px;
  }
}
.header-nav-item {
}
/* Normal state */
.header-nav-link {
  position: relative;
  display: block;
  padding: 32px 0;

  font-size: 14px;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: -0.02em;

  transition: 300ms ease-in;
  transition-property: color;
}
/* Active state */
.header-nav-link:hover,
.header-nav-link:focus {
  color: #fd9222;
}
.header-nav-link.active {
  color: #fd9222;
}
.header-nav-link.active::after {
  content: '';
  position: absolute;
  bottom: 20px;
  left: 0;

  display: block;
  width: 100%;
  height: 4px;
  background-color: #fd9222;
  border-radius: 2px;
}
.header-socials {
  display: none;
}
@media screen and (min-width: 768px) {
  .header-socials {
    display: flex;
  }
}
/* #endregion */

/* #region Hero */
.hero {
  margin-bottom: 80px;
}
@media screen and (min-width: 768px) and (max-width: 1167px) {
  .hero {
    margin-bottom: 40px;
  }
}
.hero .container {
  padding: 20px;
  padding-top: 395px;

  border-radius: 30px;
  background-color: rgba(17, 17, 17, 0.4);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-image: linear-gradient(
      rgba(17, 17, 17, 0.4),
      rgba(17, 17, 17, 0.4)
    ),
    url('../images/hero/hero-bg_mob@1x.jpg');
}
@media (min-resolution: 192dpi) {
  .hero .container {
    background-image: linear-gradient(
        rgba(17, 17, 17, 0.4),
        rgba(17, 17, 17, 0.4)
      ),
      url('../images/hero/hero-bg_mob@2x.jpg');
  }
}
@media screen and (min-width: 768px) {
  .hero .container {
    padding: 40px;
    padding-top: 671px;
    background-image: linear-gradient(
        rgba(17, 17, 17, 0.4),
        rgba(17, 17, 17, 0.4)
      ),
      url('../images/hero/hero-bg_tab@1x.jpg');
  }
}
@media screen and (min-width: 768px) and (min-resolution: 192dpi) {
  .hero .container {
    background-image: linear-gradient(
        rgba(17, 17, 17, 0.4),
        rgba(17, 17, 17, 0.4)
      ),
      url('../images/hero/hero-bg_tab@2x.jpg');
  }
}
@media screen and (min-width: 1168px) {
  .hero .container {
    padding-top: 381px;
    background-image: linear-gradient(
        rgba(17, 17, 17, 0.4),
        rgba(17, 17, 17, 0.4)
      ),
      url('../images/hero/hero-bg_desk@1x.jpg');
  }
}
@media screen and (min-width: 1168px) and (min-resolution: 192dpi) {
  .hero .container {
    background-image: linear-gradient(
        rgba(17, 17, 17, 0.4),
        rgba(17, 17, 17, 0.4)
      ),
      url('../images/hero/hero-bg_desk@2x.jpg');
  }
}
.hero-title {
  max-width: 484px;
  margin-bottom: 32px;

  font-size: 20px;
  font-weight: 500;
  line-height: 1.21;
  letter-spacing: -0.03em;
  color: #fff;
}
@media screen and (min-width: 768px) {
  .hero-title {
    font-size: 28px;
  }
}
.hero-wrapper {
  display: flex;
  flex-wrap: wrap;
  row-gap: 32px;
  justify-content: space-between;
}
.hero-controls {
  display: flex;
  gap: 14px;
}
.hero-item {
}
.hero-link {
  display: inline-flex;
  align-items: center;
  gap: 14px;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.29;
  letter-spacing: -0.03em;
  color: #fff;

  transition: 300ms ease-in;
  transition-property: color;
}
.hero-link:hover,
.hero-link:focus {
  color: #fd9222;
}
.hero-link-icon {
}
/* #endregion */

/* benefits */
.benefits {
  padding: 50px 0;
  background-color: #1e1823;
  margin-top: 80px;
}

.benfits-list {
  display: flex;
  gap: 88px;
  padding-left: 18px;
  padding-right: 18px;
}
.benefits-list-item {
  width: calc((100% - 176px) / 3);
}
.benefits-item-title {
  font-weight: 600;
  font-size: 18px;
  line-height: 1.22222;
  color: #fff;
  margin-bottom: 18px;
}
.benfits-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.28571;
  letter-spacing: -0.02em;
  color: rgba(255, 255, 255, 0.7);
}
/**
  |============================
  | INGRIDIENTS
  |============================
*/

.ingridients-section {
  padding-top: 120px;
  padding-bottom: 60px;
}
.container {
}
.ingridient-title {
  margin-left: auto;
  margin-right: auto;
  max-width: 412px;
  font-weight: 600;
  font-size: 24px;
  line-height: 1.17;
  letter-spacing: -0.03em;
  text-transform: uppercase;
  text-align: center;
  color: var(--black);
  margin-bottom: 50px;
}
.ingridient-list {
  display: flex;
  flex-wrap: wrap;
  gap: 32px;
}
.div-overlay {
  position: relative;
  overflow: hidden;
}
.ingridient-description {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: translateY(100%);
  transition: transform 500ms cubic-bezier(0.4, 0, 0.2, 1);
}
.ingridient-items {
  width: calc((100% - (32px * 3)) / 4);
  padding: 28px 23px;
  border-radius: 15px;
  border: 1px solid transparent;
  background-color: #fff;
}
.ingridient-items:hover .ingridient-description {
  transform: translateY(0);
}
.ingridient-items:nth-child(4n + 1) {
  background-color: var(--orange);
  color: var(--white);
}
.ingridient-items:nth-child(even) {
  border-color: var(--orange);
  color: var(--black);
  background-color: #fff;
}

.ingridient-items:nth-child(4n + 3) {
  background-color: var(--black);
  color: var(--white);
}

.ingridient-image {
  margin-bottom: 36px;
}
.ingridient-subtitle {
  font-weight: 600;
  font-size: 14px;

  /* line-height: 18px; */
  line-height: 1.28;
  letter-spacing: -0.02em;
  text-transform: uppercase;
}
/* registration form*/
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(46, 47, 66, 0.4);
  z-index: 100;
  visibility: hidden;
  pointer-events: none;
  opacity: 0;
  transition: 500ms cubic-bezier(0.4, 0, 0.2, 1);
  transition-property: visibility, pacity, pointer-events;
}
.backdrop.is-open {
  visibility: visible;
  pointer-events: auto;
  opacity: 1;
}
.modal {
  border-radius: 15px;
  width: 517px;
  background: #fafafa;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 40px;
}

.modal-title {
  font-weight: 600;
  font-size: 24px;
  line-height: 1.17;
  letter-spacing: -0.03em;
  text-transform: uppercase;
  color: #111;
  max-width: 298px;
  margin-bottom: 40px;
}
.accent-color {
  color: #fd9222;
}

.btn-close-modal {
  position: absolute;
  top: 24px;
  right: 24px;
  border: none;
  background-color: transparent;
}
.modal-close-icon {
  stroke: #111;
  fill: none;
}
.btn-close-modal:hover .modal-close-icon,
.btn-close-modal:focus .modal-close-icon {
  stroke: #fd9222;
}

.modal-label {
  display: block;
  margin-bottom: 8px;
  font-size: 14px;
  letter-spacing: -0.02em;
  color: rgba(64, 64, 64, 0.3);
}

.modal-field {
  position: relative;
  margin-bottom: 18px;
}

.modal-field-input {
  width: 100%;
  height: 68px;
  border: 1.5px solid rgba(17, 17, 17, 0.05);
  border-radius: 13px;
  padding: 22px 24px 22px 62px;
  background-color: transparent;
  outline: none;
  transition: border-color 500ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-field-input:focus,
.modal-textarea:focus {
  border-color: #fd9222;
}
.modal-field-input:focus + .modal-field-icon {
  stroke: #fd9222;
}
.modal-field-icon {
  position: absolute;
  top: 50%;
  left: 24px;
  transform: translateY(-50%);
  stroke: #111;
  fill: none;
}
.modal-textarea-wrapper {
  margin-bottom: 18px;
}

.modal-textarea {
  width: 100%;
  border: 1.5px solid rgba(17, 17, 17, 0.05);
  border-radius: 13px;
  /* padding: 22px 24px 93px 24px; */
  height: 137px;
  resize: none;
  outline: none;
  transition: border-color 500ms cubic-bezier(0.4, 0, 0.2, 1);
  padding: 22px 24px;
}

.modal-wrapper-checkbox {
  margin-bottom: 40px;
}

.checkbox {
  margin-right: 12px;
}

.modal-checkbox-user {
  font-size: 14px;
  letter-spacing: -0.02em;
  color: rgba(64, 64, 64, 0.6);
}

.checkbox-policy-link {
  text-decoration: underline;
  text-decoration-skip-ink: none;
  color: #fd9222;
}

.modal-form-btn {
  font-family: inherit;
  border-radius: 100px;
  padding: 0px 10px;
  min-width: 117px;
  height: 45px;
  background: #fd9222;
  font-weight: 600;
  font-size: 14px;
  color: #ffffff;
  border: none;
}

.modal-icon-valid {
  position: absolute;
  top: 50%;
  right: 24px;
  transform: translateY(-50%);
}

.error,
.success {
  opacity: 0;
  transition: opacity 500ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* .modal-field-input::placeholder {
  color: red;
} */

/* valid */
.modal-field-input:not(:placeholder-shown):required:valid {
  border-color: rgb(12, 234, 12);
}

.modal-field-input:not(:placeholder-shown):required:valid
  ~ .modal-icon-valid
  > .success {
  opacity: 1;
}

.modal-field-input:not(:placeholder-shown):required:valid + .modal-icon-valid {
  stroke: rgb(12, 234, 12);
}

.modal-field-input:not(:placeholder-shown):required:valid {
  border-color: rgb(12, 234, 12);
}

/* invalid */

.modal-field-input:not(:placeholder-shown):required:invalid {
  border-color: rgb(255, 0, 0);
}

.modal-field-input:not(:placeholder-shown):required:invalid
  ~ .modal-icon-valid
  > .error {
  opacity: 1;
}

.modal-field-input:not(:placeholder-shown):required:invalid
  + .modal-icon-valid {
  stroke: rgb(255, 0, 0);
}

.modal-field-input:not(:placeholder-shown):required:invalid {
  border-color: rgb(255, 0, 0);
}

/* checkbox */

.checkbox-user-span {
  border-radius: 6px;
  border: 1px solid rgba(17, 17, 17, 0.14);
  height: 20px;
  width: 20px;
  display: inline-flex;
  align-items: center;
  color: transparent;
  margin-right: 12px;
  justify-content: center;
}

.checkbox:checked + .modal-checkbox-user > .checkbox-user-span {
  background-color: #fd9222;
  border: transparent;
  color: #fafafa;
}

.menu-container {
  position: fixed;
  inset: 0;
  display: flex;
  flex-direction: column;
  padding: 136px 16px 40px;
  background-color: #1e1823;
  transform: translateX(100%);
  transition: transform 500ms cubic-bezier(0.165, 0.84, 0.44, 1);
}

.close-button-menu {
  border: none;
  background-color: transparent;
  stroke: white;
  position: absolute;
  top: 20px;
  right: 20px;
}

.menu-list {
  margin-bottom: auto;
}

.menu-list-item:not(:last-child) {
  margin-bottom: 24px;
}

.menu-list-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14286;
  letter-spacing: -0.02em;
  color: #fff;
}

.active {
  color: #fd9222;
}

.menu-container.is-open {
  transform: translateX(0);
}